:root {
    --backgroundColor: #74db39;
    --primaryColor: #314709;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    display: block;
    width: 600px;
}

.img2 {
    display: none;
    width: 400px;
}

.titulo {
    display: none;
    color: var(--primaryColor);
}

@media screen and (max-width: 767px) {
    .img1{
        width: 300px;
    }

    .img2 {
        width: 300px;
    }
  }