:root {
    --backgroundColor: #74db39;
    --primaryColor: #233bc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn {
    width: 30px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.menu-container {
    display: none;
    position: absolute;
    height: 100vh;
    width: 450px;
    right: 0; 
    background-color: var(--primaryColor);
    text-align: end;
}

.close-btn {
    width: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: none;
    color: var(--backgroundColor);
}

.menu-itens {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    margin: 20px;
}

.menu-itens span {
    margin-bottom: 20px;
    color: var(--backgroundColor);
}

.menu-itens span a {
    text-decoration: none;
    color: var(--backgroundColor);
}


.about-text {
    display: none;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.6em;
}

.text-paragraph {
    text-align: justify;
    width: 90%;
}


.img1 {
    display: block;
    width: 600px;
}

.img2 {
    display: none;
    width: 400px;
}

.titulo {
    display: none;
    color: var(--primaryColor);
}


@media screen and (max-width: 767px) {
    
    .menu-container {
        width: 100vw;
        overflow: scroll;
    }


    .about-text {
        font-size: 0.6em;
    }
  
    .img1{
        width: 300px;
    }

    .img2 {
        width: 300px;
    }

  }